

/* ------------------ management styles ----------------------*/

.add_questions{
  margin: 20px;
  text-align: center;
}

.input_question{
  margin:40px;
  display: inline-block;
}

.title{
    display: inline-block;
}

.answers{
  float: right;

}
