
.card{
  max-width: 100%;
}

.title{
  background-color: blue;
  margin: 0 auto;
  text-align: center;
}

.next_button{
  margin: 15px;
}

.input_questions{
  margin:50px;
  display: inline-block;
}
 .te{
   text-align: center;
 }
