
.card{
  max-width: 100%;
}

.title{
  background-color: blue;
  margin: 0 auto;
  text-align: center;
}

.next_button{
  margin: 15px;
}


 .te{
   text-align: center;
 }


/* ------------------ management styles ----------------------*/

.add_questions{
  margin: 20px;
}

.input_questions{
  margin:50px;
  display: inline-block;
}
