


.navbar{
  background-color: #256e39; /* Green */
}

.navbar_btn{
  background-color: #256e39; /* Green */
  border: none;
  margin-left: 0.9em;
  margin-right: 0.9em;
  font-weight: bold;
  font-style: italic;
  color: white;
}

#tel_hai_icon_img{
  float:left;
  margin-left: 0;
}

img{
  max-width: 50%;
  max-height: 50%;
  display:block; 
  margin-left: auto;
  margin-right: auto;
}

.welcome{
  text-align: center;
  margin: 0 auto 0 auto;

}
#welcome_img{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 20em;
}
#welcome_msg{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Suez One', serif
}
#start_quest_btn {
  background-color: #00a868;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: auto;
  border-radius: 7px;
  width: 40%;

}

#start_quest_btn:hover{
  background: #00a868ce;
}

.hidden_button {
  display: none;
}

.container{
  margin: 5em;
  text-align: center;

}


.card{
  max-width: 100%;
  
}

.card.questions{
  margin: 1%;
  box-shadow: 1rem 1rem 1rem  grey;

}

.card.recomendations{
  border: none;
  font-family: 'Suez One', serif;
  box-shadow: 1rem 1rem 1rem  grey;
}


.next_button{
  margin: 15px;
}



 .start_questions{
   
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .choices li {
  margin-bottom: 5px;
 
}

.choices label {
  display: flex;
  align-items: center;

}

.choices label,
input[type="radio"] {
  cursor: pointer;
 
}

input[type="radio"] {
  margin-right: 8px;

}


.cluster{
  list-style-type: none;


}


.card-title{
   text-align: center;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  
  background: #03a9f4;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}
.range-wrap{
  width: 30vw;
  position: relative;
  margin-top: 20px;
  /* flex-direction: row; 
  display: flex; */
}
.range-value{
  position: absolute;
  top: -50%;
}

.range-value span{
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

#fill_question_msg{
  color: red;
}

#finish_msg{
  text-align: center;
  font-family: 'Suez One', serif;
}


/* -------------------------------------- */


.recomendations_for_user{
  width:70%;
  margin:0 auto;
  }
  .recomendations_for_user ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
  }
  .recomendations_for_user ul li{
  position: relative;
  margin-bottom: 1.5em;
  padding: 0.5em;
  background-color: #dbe9f4;
  padding-right: 58px;
  border-style: groove;
  font-family: 'Suez One', serif;
  border-radius: 15px;
  }
  
  .recomendations_for_user a{
  text-decoration:none;
  color:black;
  font-size:15px;
  font-family: 'Raleway', sans-serif;
  }
  
  .recomendations_for_user li:hover{
  box-shadow:inset 1em 0 #3CB371;
  -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
  transition: box-shadow 0.5s;
  }
  
  .recomendations_for_user ul li:before {
  position: absolute;
  top: -0.3em;
  /* left: -0.5em; */
  right: -0.5em;
  width: 1.8em;
  height: 1.2em;
  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: white;
  /* background-color: #6CD6CC; */
  background-color:#3CB371;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  z-index: 99;
  overflow: hidden;
  content: counter(li-counter);
  counter-increment: li-counter;
  }

  #back_to_main_btn{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: auto;
    border-radius: 7px;
    width: 70%;
    margin: 0 auto 1rem auto;


  }