
.card{
  max-width: 100%;
}

.title{
  background-color: blue;
  margin: 0 auto;
  text-align: center;
}

.next_button{
  margin: 15px;
}



 .start_questions{
   
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
